{% if include.data.content_link %}
<a
{% else %}
<div
{% endif %} class="comp-tile
  {% if include.data.type %}
    {{ include.data.type }}
  {% endif %}
  {% if include.data.width %}
    width-{{ include.data.width }}
  {% endif %}
">
  <div class="tile-outer
    {% if include.data.aspect_mobile %}
      mobile-aspect-{{ include.data.aspect_mobile }}
    {% endif %}
    {% if include.data.aspect_desktop %}
      desktop-aspect-{{ include.data.aspect_desktop }}
    {% endif %}
    {% if include.data.background_style %}
      tile-style-{{ include.data.background_style }}
    {% endif %}
    {% if include.data.background_image %}
      tile-bg
    {% endif %}
    "
    {% if include.data.background_image %}
      style="background-image: url('https://{{ include.data.background_image.url }}');"
    {% endif %}
    >
    <div class="tile-inner
      {% if include.data.background_fade %}
        tile-fade-{{ include.data.background_fade }}
      {% endif %}">
      {% if include.data.background_video %}
      <div class="tile-background">
        <video loop="" autoplay=""{% if include.data.background_video_poster %} poster="https://{{ include.data.background_video_poster }}"{% endif %}>
          <source src="{{ include.data.background_video }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      {% endif %}
      <div class="tile-content">
        {% case include.data.type %}
        {% when 'promo' %}
        <div class="promo-roller">
          <span class="promo-left">Feeling</span>
          <span class="promo-middle">conquers</span>
          <span class="promo-right">thinking.</span>
        </div>
        {% else %}
        <p class="tile-heading">{{ include.data.content_heading }}</p>
        <p class="tile-text">{{ include.data.content_text }}{% if include.data.content_link %}<span class="tile-link-arrow">&gt;</span>{% endif %}</p>
        {% endcase %}
      </div>
    </div>
  </div>
{% if include.data.content_link %}
</a>
{% else %}
</div>
{% endif %}
