$base-bg-col: #000;
$base-text-col: #fff;
$base-text-shadow: rgba(0, 0, 0, 0.33);

$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-font-line-height: 1.2em;
$base-font-letter-space: -0.2px;
$base-font-weight-light: 100;
$base-font-weight-regular: 400;
$base-font-weight-medium: 500;
$base-font-weight-bold: 600;



* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

html {
  width: 100%;
  height: 100%;

  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100%;

  color: $base-text-col;
  background: $base-bg-col;

  font-family: $base-font;
  font-size: $base-font-size;
  line-height: $base-font-line-height;
  letter-spacing: $base-font-letter-space;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
span {
  font-weight: $base-font-weight-regular;
  font-size: $base-font-size;
  line-height: $base-font-line-height;
  text-shadow: 1px 1px $base-text-shadow;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:visited,
  &:active {
    color: inherit;
    text-decoration: underline;
  }
}

h1 {
  font-size: $base-font-size * 2;
  font-weight: $base-font-weight-bold;
  line-height: $base-font-line-height;
  text-shadow: 1px 1px $base-text-shadow;
}

h2 {
  font-size: $base-font-size * 1.5;
  font-weight: $base-font-weight-medium;
  line-height: $base-font-line-height;
  text-shadow: 1px 1px $base-text-shadow;
}

h3 {
  font-size: $base-font-size * 1.25;
  font-weight: $base-font-weight-bold;
  line-height: $base-font-line-height;
  text-shadow: 1px 1px $base-text-shadow;
}
